node_modules
client/out/
client/dist/
client/public/*.js
client/public/*.css
client/public/*.png
client/public/*.js.LICENSE.txt
client/public/*.js
client/public/*.js.map
client/public/*.css.map
electron-builder.env
target/
bun.lockb